/* HEADER */
header .nav li {
	padding: 5px 10px; 
}

header {
	background: rgb(255,255,255, .1);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

header a {
	text-decoration: none;
}


footer {
	background-color: black;
}
/* BODY */
.text-link {
	color: #fff !important;
}


a {
	text-decoration: none !important;
}


body .design-options, .preowned-designs, .call-to-action-section {
	background: #FAFAFA;
}

body {
	font-family: 'Rubik', sans-serif !important;
}

/* NAVIGATION */
.nav a {
	text-decoration: none;
	color: #fff;
}

.nav li a:hover {
  text-decoration: none;
	color: #fff;
}

.nav li a:after {
    content: "";
    display: block;
    background-color: #fff;
    height: 2px;
    width: 0;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border:none;
    margin-top: 5px;
}

.nav li a:hover:after {
    width: 100%;
}


.header.scroll {
	background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,102,0,1) 33%, rgba(190,19,46,1) 66%, rgba(81,0,66,1) 100%);
	z-index: 13;
}

/* HOME HERO */
.hero {
	background-image: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,102,0,1) 33%, rgba(190,19,46,1) 66%, rgba(81,0,66,1) 100%);
	min-height: 40rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

.hero::before {
	content:'';
	display: block;
	background-image:url(https://sketch-cdn.imgix.net/assets/blog/what-is-a-wireframe-header@2x.png?ixlib=rb-4.0.1&fit=clip&dpr=1&w=950&q=95&fm=jpg&auto=format&s=418d243f1ec07b4af38b788e386ed3e2);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: .05;
	width: 100%;
	height: 100%;
	position: absolute;
}

.hero-content {
	z-index: 1;
}

/*  DESIGN SECTIONS */
.design-content {
	width: 100%;
	background: #fff;
	border: 1px solid rgba(0,0,0,.1);
	border-top: none;
}
.image-holder {
	max-height: 350px;
	overflow-y: auto;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
}


.design-content::before {
	content:'';
	display: block;
	position: relative;
	width: 100%;
	z-index: 1;
	height: 5px;
	background: linear-gradient(90deg, rgba(255,153,51,1) 0%, rgba(255,102,0,1) 33%, rgba(190,19,46,1) 66%, rgba(81,0,66,1) 100%);
}



/* SLIDESHOW CSS */
.slider-single,
.slider-single-content {height: 650px; }
.slider-single-content {overflow-y: scroll; }
.slider-single-content img {height:fit-content; }

.react-3d-carousel .slider-container .slider-left div,
.react-3d-carousel .slider-container .slider-right div {background-color: #97587F;border-color: #97587F !important}




/* HOME CTA SECTION */
.icon-size-large {
	font-size: 5rem;
}

.cta-section .cta-content {
	border-radius: 24px;
	transition: .5s;
	box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.cta-section .cta-content:hover {
	transition: .5s;
	box-shadow: 1px 1px 20px rgb(0 0 0 / 40%);
}

.orange-bg {
	background:rgba(255,153,51,1);	
}
.red-bg {
	background:rgba(190,19,46,1) ;	
}
.purple-bg {
	background:rgba(81,0,66,1);	
}


*,
*:after,
*:before {
	box-sizing: border-box;
}

.glider {
	position: absolute;
	display: flex;
	height: 226px;
	width: 270px;
	background-color: black;
	z-index: 1;
	transition: 0.25s ease-out;
}


.react-tabs__tab-list {
	&:react-tabs__tab--selected {
		& ~ .glider {
			transform: translateX(200%);
		}
	}
}



/* TABS */
.react-tabs li {
	flex-basis: 25%;
}

.react-tabs__tab-list {
	background-color: #FAFAFA;
	box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
}

.react-tabs__tab--selected {
	background: #fff;
	transition: ease-in;
}


.react-tabs {
	margin-top: -130px;
	position: relative;
}

.react-tabs__tab-list {
	border-radius: 12px;
	border-bottom: none !important;;
}